{% extends 'music/base.html' %}
{% block title %}{{ album.album_title }} songs{% endblock %}
{% block body %}
    <img src="{{ album.album_logo.url }}">
    <h1>Here is {{ album.album_title }} songs by {{ album.artist }}</h1>
    {% if songs %}
        <ul>

        {% for song in songs  %}
            <li><p>{{ song.song_title }}.{{ song.file_type }}</p></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>This album has no song</p>
    {% endif %}
    {% if error_massage %}
        <p><strong>{{ error_massage }}</strong></p>
    {% endif %}

    <form action="{% url 'music:detail' album.id %}" method="post">
        {% csrf_token %}
        {% for song in album.song_set.all %}
            <input type="radio" id="song{{ forloop.counter }}"  name="song" value="{{ song.id }}" />
            <label for="song{{ forloop.counter }}">
                {{ song.song_title }}
                {% if song.is_favorite %}
                    <img src="https://www.cloudynights.com//public/style_images/master/star.png">
                {% endif %}
            </label><br>

        {% endfor %}
        <input type="submit" value="Favorite">
    </form>
{% endblock %}

